
    <h2>Employees:</h2>
    <%= render 'employees/employees'%> 


    <h2>Add an Employee:</h2>
    <%= render 'employees/form'%>

    <%= link_to 'Edit', edit_location_path(@location)%> | <%= link_to 'Back', locations_path%>
